/**
 *
 * Apply your custom CSS here
 *
*/

body
{
    font: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a
{
}

.sidebar-menu
{
    background-color: #3498DB !important;
}

    .sidebar-menu .logo-env
    {
        border-bottom-color: white !important;
    }

    .sidebar-menu .main-menu a
    {
        border-bottom-color: white !important;
        color: #cce5f6 !important;
    }

        .sidebar-menu .main-menu a:hover
        {
            color: white !important;
        }

    .sidebar-menu .main-menu li.has-sub > a:before
    {
        color: white;
    }

    .sidebar-menu .logo-env .settings-icon a
    {
        color: #cce5f6 !important;
    }

.btn.btn-secondary
{
    background-color: #16a085 !important;
}

    .btn.btn-secondary:hover
    {
        background-color: #1abc9c !important;
    }

.btn-danger
{
    background-color: #e74c3c!important;
    border-color: #e74c3c!important;
}

    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger
    {
        background-color: #e74c3c !important;
        border-color: #8e262a !important;
    }

.btn-info
{
    background-color: #40bbea !important;
    border-color: #29b3e7 !important;
}

    .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info
    {
        background-color: #18a8df !important;
        border-color: #1590be !important;
    }

.login-page .login-form .login-header .logo img
{
    width:404px !important;
}

.login-page
{
    background: #3498db !important;
}
    .login-page .login-form .login-header p
    {
        color:#fff !important;
    }

    .login-page .login-form .login-header .logo span{
        display:none !important;
    }

    .login-page .login-form .form-group .control-label
    {
        color:#3498db !important;
    }

    .login-page .login-form .form-group .form-control.input-dark
    {
        background: #fff !important;
        color: #2980b9 !important;
    }

    .login-page .login-form .form-group .btn.btn-dark
    {
        border-color: #fff !important;
        background-color: #3498db !important;
        color: #fff !important;
    }

        .login-page .login-form .form-group .btn.btn-dark:hover
        {
            background-color: #2980b9 !important;
        }

    .login-page .login-form .login-footer a:hover
    {
        color: #cce5f6 !important;
    }
    .login-page .login-form .login-footer a {
        color: #fff !important;
    }

    .login-page .external-login a.facebook
    {
        display:none !important;
    }

    .login-page .login-form .form-group label.error{
        color:#3498db !important;

    }

    .login-page .login-form .form-group .form-control.error{
        border-color:#fff !important;
    }